Flask
Flask-SQLAlchemy
Flask-Login
psycopg2-binary
requests
google-cloud-storage
google-cloud-vision
firebase-admin
cryptography
Flask-SocketIO
eventlet
Werkzeug
gunicorn
pytz
flask_wtf
stream_chat
cairosvg
zulip
svglib
Pillow
reportlab
svgpathtools
pusher
enum
Flask-Migrate