:root {
    --primary-color: #083888; /* Azul escuro ErichEdu */
    --secondary-color: #89d156; /* Verde vibrante */
    --accent-color: #ffe458; /* Amarelo */
    --white: #FFFFFF;
    --gray-light: #f2f2f2; /* Cinza claro */
    --gray-dark: #444444; /* Cinza escuro para textos */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gray-light);
}

/* Container Principal */
.container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
}

/* Barra Lateral */
/* Barra Lateral */
.sidebar {
    width: 250px; /* Largura da barra lateral */
    background-color: var(--primary-color); /* Azul ErichEdu */
    color: var(--white);
    padding: 20px;
    transition: width 0.3s; /* Transição suave */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Evita overflow quando recolhida */
    height: 100vh; /* Ocupa a altura total da janela */
    padding: 20px;
    box-sizing: border-box; /* Para incluir o padding dentro da largura */
    position: fixed; /* Fixa a barra lateral na tela */
}


.sidebar.collapsed {
    width: 60px; /* Largura quando recolhida */
}

/* Menu da Barra Lateral */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex; /* Para alinhar ícone e texto */
    align-items: center; /* Centraliza verticalmente */
    transition: background-color 0.3s; /* Transição suave */
    padding: 10px 15px; /* Espaçamento interno */
}

/* Novo estilo para esconder o texto */
.sidebar.collapsed .sidebar-menu a  {
    opacity: 0; /* Torna o texto invisível */
    visibility: hidden; /* Oculta o texto */
    transition: opacity 0.3s, visibility 0.3s; /* Transição suave */
}
.sidebar.collapsed .menu-text {
    opacity: 0; /* Torna o texto invisível */
    visibility: hidden; /* Oculta o texto */
    transition: opacity 0.3s, visibility 0.3s; /* Transição suave */
}

.menu-text {
    margin-left: 10px; /* Espaçamento entre o botão e o texto */
    transition: opacity 0.3s; /* Transição suave */
}

/* Quando a sidebar não está recolhida, o texto deve ser visível */
.sidebar .sidebar-menu a {
    opacity: 1; /* Torna o texto visível */
    visibility: visible; /* Mostra o texto */
}

.sidebar-menu a:hover {
    background-color: var(--secondary-color); /* Verde ao passar o mouse */
}

/* Botão de Toggle */
.toggle-btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Conteúdo Principal */
.content {
    padding: 20px;
    transition: margin-left 0.3s; /* Transição suave para a margem */
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
    margin-left: 250px; /* Compensa a largura da barra lateral */
    background-color: var(--white);
    overflow-y: auto; /* Permite rolagem */
    border-radius: 10px; /* Bordas arredondadas para o conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Títulos */
.content h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.content h2 {
    color: var(--primary-color);
    margin-top: 20px;
}

/* Lista de Avisos */
.avisos-list {
    list-style-type: none;
    padding: 0;
}

.avisos-list li {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Atalhos Rápidos */
.atalhos {
    margin-top: 20px;
}

.atalhos .btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block; /* Para que os botões fiquem na mesma linha */
    margin-right: 10px; /* Espaçamento entre botões */
}

.atalhos .btn:hover {
    background-color: var(--secondary-color); /* Verde no hover */
}

/* Estilo do Container de Login */
.login-container {
    width: 90%; /* Largura responsiva */
    max-width: 350px; /* Limite de largura */
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* Espaçamento superior */
}

/* Logo no Login */
.login-logo {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

/* Título da Tela de Login */
.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Estilo dos Inputs */
.login-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.login-input:focus {
    border-color: var(--secondary-color); /* Verde no foco */
}

/* Estilo do Botão de Login */
.login-button {
    width: 100%;
    padding: 15px;
    background-color: var(--secondary-color); /* Verde */
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 10px; /* Redução no arredondamento */
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--primary-color); /* Azul escuro no hover */
}

/* Mensagens de Erro ou Sucesso */
.login-message {
    margin: 20px 0;
    color: var(--error-color); /* Mensagens de erro */
}

/* Container de Chat */
.chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #25D366; /* Cor do WhatsApp */
    color: white;
    border-radius: 10px 10px 0 0;
}

.messages {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.message {
    display: flex;
    align-items: flex-start; /* Alinhamento dos elementos */
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px; /* Tamanho da imagem de perfil */
    height: 40px; /* Tamanho da imagem de perfil */
    border-radius: 50%; /* Faz a imagem ser redonda */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.message-content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-content strong {
    color: #25D366; /* Cor do nome do remetente */
}

.message-form {
    display: flex;
}

.message-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-form button {
    padding: 10px 15px;
    background-color: #25D366; /* Cor do botão */
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

.message-form button:hover {
    background-color: #20B559; /* Cor do botão ao passar o mouse */
}

/* Estilo da imagem de perfil em mensagens */
.m-profile-pic {
    width: 40px; /* ajuste o tamanho conforme necessário */
    height: 40px;
    border-radius: 50%; /* faz a imagem ficar redonda */
    margin-right: 10px; /* espaço entre a foto e o nome do usuário */
    vertical-align: middle; /* alinha a imagem com o texto */
}

/* Estilo do rótulo */
.label {
    background-color: #f0f0f0; /* Cor de fundo do rótulo */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; /* Garante que o rótulo fique como um bloco */
    margin-right: 5px; /* Espaçamento entre rótulos */
}

/* Estilo para botões de ação */
.action-button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--primary-color); /* Cor ao passar o mouse */
}
