:root {
    --primary-color: {{ primary_color }}; /* Azul escuro ErichEdu */
    --secondary-color: #89d156; /* Verde vibrante */
    --accent-color: #ffe458; /* Amarelo */
    --white: #FFFFFF;
    --gray-light: #f2f2f2; /* Cinza claro */
    --gray-dark: #444444; /* Cinza escuro para textos */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}

/* Container Principal */
.container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.sidebar {
    width: 250px; /* Largura padrão */
    min-width: 250px; /* Definindo largura mínima */
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    transition: width 0.3s;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 2;
    transition: width 0.3s;

}

.sidebar.collapsed {
    width: 60px; /* Largura ao colapsar */
    min-width: 60px; /* Ajuste para largura mínima ao colapsar */
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    transition: background-color 0.3s;
}

.menu-text {
    margin-left: 10px;
}

/* Ocultar o texto ao recolher a barra lateral */
.sidebar.collapsed .menu-text {
    display: none;
}

.sidebar-menu a:hover {
    background-color: var(--secondary-color);
}

/* Botão de Toggle */
.toggle-btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Conteúdo Principal */
.content {
    padding: 20px;
    transition: margin-left 0.3s; /* Transição suave para a margem */
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
    margin-left: 250px; /* Compensa a largura da barra lateral */
    background-color: var(--white);
    overflow-y: auto; /* Permite rolagem */
    border-radius: 10px; /* Bordas arredondadas para o conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Títulos */
.content h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.content h2 {
    color: var(--primary-color);
    margin-top: 20px;
}

/* Lista de Avisos */
.avisos-list {
    list-style-type: none;
    padding: 0;
}

.avisos-list li {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Atalhos Rápidos */
.atalhos {
    margin-top: 20px;
}

.atalhos .btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block; /* Para que os botões fiquem na mesma linha */
    margin-right: 10px; /* Espaçamento entre botões */
}

.atalhos .btn:hover {
    background-color: var(--secondary-color); /* Verde no hover */
}

/* Estilo do Container de Login */
.login-container {
    width: 90%; /* Largura responsiva */
    max-width: 350px; /* Limite de largura */
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* Espaçamento superior */
}

/* Logo no Login */
.login-logo {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

/* Título da Tela de Login */
.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Estilo dos Inputs */
.login-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.login-input:focus {
    border-color: var(--secondary-color); /* Verde no foco */
}

/* Estilo do Botão de Login */
.login-button {
    width: 100%;
    padding: 15px;
    background-color: var(--secondary-color); /* Verde */
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 10px; /* Redução no arredondamento */
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--primary-color); /* Azul escuro no hover */
}

/* Mensagens de Erro ou Sucesso */
.login-message {
    margin: 20px 0;
    color: var(--error-color); /* Mensagens de erro */
}

/* Container de Chat */
.chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #25D366; /* Cor do WhatsApp */
    color: white;
    border-radius: 10px 10px 0 0;
}

body {
    background-color: var(--gray-light);
    font-family: Arial, sans-serif;
    color: var(--gray-dark);
    margin: 0;
    padding: 0;
}

.message-content {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    max-width: 70%; /* Limita a largura da mensagem */
}

.meu {
    background-color: var(--secondary-color);
    color: var(--white);
    margin-left: auto; /* Alinha mensagens do usuário à direita */
}

.neutro {
    background-color: var(--primary-color);
    color: var(--white);
    margin-right: auto; /* Alinha mensagens de outros usuários à esquerda */
}

.message-time {
    font-size: 0.8em;
    color: var(--gray-dark);
    position: absolute;
    bottom: 5px;
    right: 10px; /* Alinha o horário à direita da mensagem */
}

.message-form {
    display: flex;
}

.message-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-form button {
    padding: 10px 15px;
    background-color: #25D366; /* Cor do botão */
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

.message-form button:hover {
    background-color: #20B559; /* Cor do botão ao passar o mouse */
}

/* Estilo da imagem de perfil em mensagens */
.m-profile-pic {
    width: 40px; /* ajuste o tamanho conforme necessário */
    height: 40px;
    border-radius: 50%; /* faz a imagem ficar redonda */
    margin-right: 10px; /* espaço entre a foto e o nome do usuário */
    vertical-align: middle; /* alinha a imagem com o texto */
}

/* Estilo do rótulo */
.label {
    background-color: var(--primary-color); /* Cor de fundo do rótulo */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; /* Garante que o rótulo fique como um bloco */
    margin-right: 5px; /* Espaçamento entre rótulos */
}

/* Estilo para botões de ação */
.action-button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--primary-color); /* Cor ao passar o mouse */
}


.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative; /* Para conter as barras fixas */
}

.chat-header {
    background-color: var(--primary-color); /* Cor verde do WhatsApp */
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
    position: fixed; /* Fixa a barra no topo */
    top: 0; /* Posição no topo */
    left: 0;
    right: 0; /* Preenche toda a largura */
    z-index: 1000; /* Para garantir que a barra fique acima do conteúdo */
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.call-options {
    margin-left: auto;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 60px 10px 50px; /* Adiciona padding superior e inferior para compensar as barras fixas */
    background-color: white;
    margin-top: 50px; /* Distância do topo para o conteúdo começar abaixo do cabeçalho */
}

.message-list {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message.sent {
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.message-bubble {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
}

.message.sent .message-bubble {
    background-color: #82aef0; /* Verde claro */
}

.message.received .message-bubble {
    background-color: white;
    border: 1px solid #e6e6e6;
}

.timestamp {
    font-size: 0.8em;
    color: #ffffff;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    position: fixed; /* Fixa a barra na parte inferior */
    bottom: 0; /* Fixa a barra na parte inferior */
    left: 0;
    right: 0; /* Preenche toda a largura */
    z-index: 1000; /* Para garantir que a barra fique acima do conteúdo */
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#send-button, .attach-button, .emoji-button {
    background-color: var(--primary-color); /* Cor verde do WhatsApp */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

#send-button:hover, .attach-button:hover, .emoji-button:hover {
    background-color: var(--primary-color); /* Cor verde mais escura */
}

