<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
</head>
<style>
    :root {
        --primary-color: {{ primary_color }}; /* Azul escuro ErichEdu */
    }
</style>
<body>
    <div class="container">
        <!-- Barra Lateral -->
        <div class="sidebar" id="sidebar">
            <button class="toggle-btn" id="toggle-btn">☰</button>
            <h2 class="sidebar-title"><span class="menu-text">Menu</span></h2>
            <ul class="sidebar-menu">
                <li><a href="{{ url_for('home') }}"><span class="menu-text">INÍCIO</span></a></li>
                <li><a href="{{ url_for('profile') }}"><span class="menu-text">EU</span></a></li>
                <li><a href="{{ url_for('materias') }}"><span class="menu-text">MATÉRIAS</span></a></li>
                <li><a href="{{ url_for('chat', turma_id=user.turma_id) }}"><span class="menu-text">CHAT</span></a></li>
                <li><a href="{{ url_for('cardapio') }}"><span class="menu-text">CARDÁPIO</span></a></li>
                {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin') }}"><span class="menu-text">ÁREA DO ADMINISTRADOR</span></a></li>
                {% endif %}
                {% if current_user.is_representante %}
                    <li><a href="{{ url_for('upload_materia') }}"><span class="menu-text">ENVIAR MATÉRIA</span></a></li>
                    <li><a href="{{ url_for('contagem_faltas') }}"><span class="menu-text">FAZER CHAMADA</span></a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}"><span class="menu-text">LOGOUT</span></a></li>
            </ul>
        </div>
        <!-- Conteúdo Principal -->
        <div class="content">
            <div class="profile-container">
                <h1>Meu Perfil</h1>
                <img class="m-profile-pic" src="{{ user.foto_perfil }}" alt="Foto de Perfil" />
                <p><strong>Nome:</strong> {{ user.nome_completo }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Faltas deste mês:</strong> <span class="label">{{ faltas_count }}</span></p>
                <a class="btn" href="{{ url_for('editar_perfil') }}">Editar Perfil</a>
            </div>

        </div>
    </div>

    <script>
        function toggleSidebar() {
            document.querySelector('.sidebar').classList.toggle('collapsed');
        }
    </script>
</body>
</html>
