<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <style>
        body {
    font-family: 'Roboto', sans-serif;
    background-color: #083888;
    margin: 0;
    padding: 0;
}
    </style>
</head>

<body>
    <div class="login-container">
        <!-- Logo do login -->
        <div class="login-logo">
            <img src="{{ url_for('static', filename='erichedu-icon.png') }}" alt="ErichEdu Logo" class="login-logo">
        </div>
        <h1 class="login-title">Login</h1>

        <!-- Mensagens de erro ou sucesso -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Formulário de login -->
        <form method="POST">
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" class="login-input" required>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="login-input" required>
            </div>
            <button type="submit" class="login-button">Entrar</button>
        </form>

        <!-- Link para criar conta -->
        <p>Não tem uma conta? <a href="{{ url_for('signup') }}">Cadastre-se aqui</a></p>

        <!-- Exibição de mensagens de erro ou sucesso -->
        <div class="login-message">{{ message }}</div>
    </div>
</body>

</html>
